<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>HELLO PATRICK</li>
                </ul>
           </nav>
           <div>
                <h1>It's hard to tpye this fast;</h1>
                <p> HEY DUDE KEEP TRYING YOUR BEST LOL</p>
           </div>
        </header> 
        <main>
            <article>
            <!-- HOLD CTRL+FORWARD SLASH TO ENTER COMMENTS WHICH WONT BE READ BY SERVER -->
                <h3>My fingers hurt</h3>
                <h4>Patrick Grant</h4>
                <h5>April 7th 2021</h5>
                <p> Here lie the text that patrick tried typing today 
                </p>
            </article>
        </main>     
    </body>
</html>